[submodule "dotfiles/.vim/bundle/neobundle.vim"]
	path = dotfiles/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dotfiles/.tmux/plugins/tpm"]
	path = dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
